.thumbnail img{
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delected-form {
    display: inline;
}
 
.navbar-default {
    position: fixed;
    z-index: 1000;
    width: 100%;
} 