html, body {
    height: 100%;
    overflow: hidden;
}
.navbar {
    height: 50px;
    margin: 0px;
}
.alert {
    top: 70px;
    position: absolute;
    width: 77%
}

footer {
    display: flex;
    height: 50px;
    width:100%;
    align-items:center;
}
footer .text-muted{
    margin: 0px;
}

.vertical-center {
    /* z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 30vh; */

    display: flex;
    width: 100%;
    height: calc(100% - 100px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}